body
{
    font-family: "Inter";
    color: black;
    background-color: #F2F0EB;
}

#fixedtop {
    margin: 0%;
    padding: 0%;
    background-color: #A60311;
    border-bottom: 2px solid black;
}

#navigation
{
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    border-color: black!important;
}

#jumbo
{
    margin-top: 10em;
}

#title-text
{
    font-size: 7vw;
}

#body-text
{
    font-size: 3vw;
}

#cards
{
    margin-top: 8vw;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
}

#cards a {
    color: #6c757d!important;
    text-decoration: none;
    opacity: 75%;
}

#cards a:hover {
    color: #A60311!important;
    text-decoration: none;
    opacity: 100%;
}

#debug
{
    margin-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

footer {
    padding-left: 50px;
    padding-right: 50px;
}

#foot
{
    margin-top: 4vw;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

footer a {
    color: #6c757d!important;
    text-decoration: none;
    opacity: 100%;
}

footer a:hover {
    color: #A60311!important;
    text-decoration: none;
    opacity: 100%;
}